{% load staticfiles %}
<nav class="navbar " role="navigation">
   <div class="container-fluid">
      <div id="app-name" class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
         </button>
      </div>
      {% if request.path != '/previously_featured/' %}
         <div>
            <a class="featured" href="{% url 'index' %}"><span class="vendor-biz">Frenchie Fab </span><span class="vendor-name">by Karla Ortiz</span></a>
         </div>
      {% endif %}
      <div class="row">
         <div class="col-sm-12">
            <div>
               <span class="brought-by">brought to you by </span><span class="popshop"><a href="{% url 'index' %}">PopShop</a></span>
            </div>
            <div class="collapse navbar-collapse" id="category-nav">
               <span>
                  <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a class="categories" href="{% url 'about' %}">About</a>
                     </li>
                     <li {% if not category %} class="active active-page"{% endif %}>
                        <a class="categories" href="{% url 'index' %}">All</a>
                     </li>
                     {% for c in categories %}
                     <li {% if category.slug == c.slug %} class="active active-page" {% endif %}>
                        <a class="categories" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                     </li>
                     {% endfor %}
                     <li>
                        <a href="{% url 'cart_detail' %}"><img id="shopping-bag" src="/static/img/shopping_bag.png"></a>
                     </li>
                     <li class="dropdown">
                        {% if request.user.is_authenticated %}
                        <a href="#" class="dropdown-toggle auth" data-toggle="dropdown">{{ request.user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu auth">
                           <li><a href="{% url 'logout' %}">logout</a></li>
                           {% else %}
                           <li class="divider"></li>
                           <li><a class="auth" href="{% url 'login' %}">Login</a></li>
                           <li><a class="auth" href="{% url 'signup' %}">Sign up</a></li>
                        </ul>
                        {% endif %}
                     </li>
                  </ul>
               </span>
            </div><!-- /.navbar-collapse -->
         </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
   </div><!-- /c.ontainer-fluid -->
</nav>

