{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<div class='container'>
    <h1 class="category-name">Previously Featured Businesses:</h1>
    <div id="jumbo-feat" class="jumbotron">
        <h1 class="display-4 company-name">Frenchie Fab</h1>
        <p class="lead owner">by: <span>Karla Ortiz</span></p>
        <p class="feat-dates">Featured Dates: <span>June 1-15, 2018</span><br>
        <button class="contact-btn">Contact Owner</button>
    </div>

</div>


{% endblock %}