body {
    background:
        -moz-radial-gradient(white 15%, transparent 16%),
        -moz-radial-gradient(white 15%, transparent 16%),
        #808080;
    background:
        -webkit-radial-gradient(white 15%, transparent 16%),
        -webkit-radial-gradient(white 15%, transparent 16%),
        #808080;
    background-position: 0 0, 80px 80px;
    
    -webkit-background-size:160px 160px;
    -moz-background-size:160px 160px;
    background-size:160px 160px;
    padding-bottom: 50px;
}

p {
    font-size: 16px;
}

/* NAV BAR */
.lead {
    font-family: 'Delius Swash Caps', cursive;
}

.vendor-biz {
    font-family: 'Rozha One', serif;
    font-size: 50px;
}

.vendor-biz:hover {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.vendor-name {
    font-family: 'Rozha One', serif;
    font-size: 20px;
    color: black;
}

.featured {
    color: black;
}

.featured:hover {
    text-decoration: none;
}

.categories {
    display: inline;
    text-transform: uppercase;
}

.categories a:hover {
    background-color: white;
    border-radius: 10px;
}

.navbar-fixed-top, nav, thead, .last-tr td  {
    margin-bottom: 0px; 
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    background-color: #9EEDA9;
}

.brought-by {
    /*font-family: 'Rozha One', serif;*/
    font-family: 'Delius Swash Caps', cursive;
    /*font-family: 'Life Savers', cursive;*/
    font-size: 15px;
    padding-left: 50px;
}

.popshop {
    font-family: 'Delius Swash Caps', cursive;
    /*font-family: 'Life Savers', cursive;*/
    font-size: 30px;
}

#category-nav {
    margin-top: -40px;
}

nav ul li {
    font-family: 'Rozha One', serif;
    font-size: 16px;
}

nav ul li.active-page {
  background-color:white;
  border-radius: 10px;
}

.dropdown-toggle {
    font-family: 'Delius Swash Caps', cursive;
    font-size: 20px;
}

/* IMAGES ON INDEX PAGE */
.index-img {
    /*height: 130px; */
    height: 150px;
    /*width: auto;*/
}

.caption {
    text-align: center;
    font-family: 'Rozha One', serif;
}

/* CATEGORY HEADINGS AND LOGIN/SIGN UP HEADING */
.category-name {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 40px;
    color: #9EEDA9;
    text-shadow:
        -1px -1px 0 #808080,
        1px -1px 0 #808080,
        -1px 1px 0 #808080,
        1px 1px 0 #808080;
    /*margin-top: 40px;*/
}

/* ITEM DETAIL PAGE*/
.detailz {
    padding: 40px;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.detail-img {
    height: 400px; 
    width: auto;
    border-radius: 5px;
}

/*CART DETAIL PAGE*/
.cart-img {
    height: 80px; 
    width: auto;
}

.beg-row {
    margin-top: 6%;
}

.table {
    background-color: white;
}

/*LOG IN AND SIGN UP PAGES*/
.form-div {
    padding: 20px;
    background-color: white;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #9EEDA9;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*margin-top: 200px;*/
}

footer li {
    font-family: 'Delius Swash Caps', cursive;
    color: black;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

/* Previously Featured Page Stying*/
#jumbo {
    padding: 10px;
    text-align: center;
    border: solid black 10px;
}

#jumbo-feat {
    padding: 5px;
    text-align: center;
}

.contact-btn {
    position: center;
}

.btn {
    font-family: monospace;
}

